body {
  background-image: url("background.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
}

#banner {
  font-family: 'Open Sans',sans-serif;
  font-size: 50px;
  color: #2a2a2a;
  line-height: 75px;
  width: 358px;
  height: 75px;
  position: fixed;
  right: 35px;
  top: 20px;
  background-color: #ff7e2a;
  pointer-events: none;
}

#bannerSub {
  width: 358px;
  height: 15px;
  position: fixed;
  right: 35px;
  top: 100px;
  background-color: #ff7e2a;
}

#week {
  font-family: 'Sans Source Pro',sans-serif;
  font-size: 30px;
  color: #ff7e2a;
  position: fixed;
  right: 35px;
  top: 120px;
  pointer-events: none;
}

#videosmoke , #video2 , #video3 , #video4{
  min-width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  height: 100vh;
  object-fit: fill;
}

#videosmoke {
  -webkit-filter: grayscale(1);
  opacity: .15;
}

#video2 , #video3 {
  opacity: .35 ;
}

#video4 {
  opacity: .1;
  -webkit-filter: grayscale(1);
}

span {
  opacity: 0;
}

#levelbar , #levelUp {
  width: 95vw;
  height: 10px;
  left: 2.5vw;
  position: fixed;
  bottom: 35px;
  z-index: 1;
}

#levelbar {
  background-color: rgba(0, 0, 0, 0.5);
}

#levelUp {
  background-color: #ff7e2a;
  width: 0vw;
  transition: width .5s ease-in-out ;
}

#completion {
  color: white;
  position: fixed;
  bottom: 55px;
  left: 5vw;
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 25px;
}

.themeButton {
  position: fixed;
  height: 1.5vw;
  width: 1.5vw;
  border: 3px solid white;
  transition: all .1s ease-in-out;
  bottom: 65px;
  border-color: #ff7e2a;
}

.themeButton:hover {
  transform: scale(2);
  cursor: pointer;
}

#theme4 {
  right : 2.5vw;
  background-image: url("icons/4.png");
  background-size: cover;
}

#theme3 {
  right :  5.5vw;
  background-image: url("icons/3.png");
  background-size: cover;
}

#theme2 {
  right : 8.5vw;
  background-image: url("icons/2.png");
  background-size: cover;
}

#theme1 {
  right: 11.5vw;
  background-image: url("icons/1.png");
  background-size: cover;
}


#themeTitle {
  border-top: 3px solid white;
  padding-top: 5px;
  position: fixed;
  font-family:  'Open Sans' , sans-serif;
  font-size: 20px;
  color : white;
  width: 11.5vw;
  text-align: center;
  right: 2.5vw;
  bottom: 115px;
  transform: scaleX(.2);
  transition: all .3s ease-in-out;
  opacity: 0;
}
