img {
    height: 25vmax;
    width: 25max;
}

.BLOC1{
display: flex;
}

.BLOC2{
display: flex;
}

#IMG1{
    order:4;
}

#IMG2{
    order:1 ;
}

#IMG3{
    order:2 ;
}

#IMG4{
    order:3 ;
}

#IMG5{
    order:6 ;
}

#IMG6{
    order: 7;
}

#IMG7{
    order: 8;
}

#IMG8{
    order:5 ;
}
